@import '../../../../mq.scss';
.section-header{
    //background: #fff;
    text-align: center;
    color: #272727;
    //padding-top: 100px;
    padding-bottom: 20px;
    h2{
        padding-bottom: 10px;
        line-height: 40px;
        position: relative;
        display: inline-block;
        font-size: 45px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 0;
        font-weight: 700;
        @include mobile {
            font-size: 35px;
        }
    }
  }

.contenedor {
	display: block; 
	grid-template-columns: 50% auto;
}

.col {
	padding: .4em 1.3em;
	width: 50%;
}

.col .imagen {
	width: 50%;
	@include mobile {
		width: 35%;
	}
}
.col .info {
	width: 50%;
	align-content: center;
	text-align: center;
}

input.btn {
	border: 0;
	display:block;
	align-content: center;
	align-items: center;
	padding:1em 3em;
	background:#333;
	color:#FFFFFF;
	margin-bottom:1em;
	cursor:pointer;
}
.life-container {
	background:#3FA0E1;
	padding:.5em;
	font-weight:bold;
}

.principal {
	height: auto;
	h2{
		margin-top: 5rem;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em){
	h1{
		margin: 0 auto;
        font-size: 2.5em;
    }
	div{
		p{
			font-size: 1em;
        }
    }
	#external-btn{
		width: 50px;
		height: 50px;
		display: block;
        margin: 0 auto 20px auto;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em){
	div{
		p{
           font-size: 1.1em;
        }
    }
	#external-btn{
		width: 80px;
        height: 80px;
    }
}

.info{
	margin: 0;
	text-align: right;
	align-content: right;
	margin-top: 30px;
	line-height: 18px;
	@include mobile {
		margin-top: 10px;
		line-height: 10px;
	}
}

.tdtprecio{
	margin-left: 18rem;
	font-weight: bold;
	@include mobile {
		font-size: 14px;
		margin-left: 5rem;
	}
}
.tdprecio{
	margin-left: 4rem;
	@include mobile {
		font-size: 20px;
	}
}


.descrip{
	margin-top: 30px;
	margin-left: 18rem;
	text-align: justify;
	line-height: 18px;
	font-size: 14px;
	width: 45rem;
	@include mobile {
		font-size: 10px;
		width: 20rem;
		margin-left: 5rem;
	}
	h2{
		font-size: 20px;
		@include mobile {
			font-size: 10px;
		}
	}
}

.btnVolver{
	text-align: center;
	margin: auto;
	margin-bottom: 5rem;
	margin-top: 8rem;
}

.NoticiaText{
	line-height: 24px;
	font-size: 16px;
	font-family: Arial,Helvetica,sans-serif;
	text-align: justify;
}

.imgProd{
	width: 30rem;
	margin: 0;
	@include mobile {
		width: 13rem;
	}
}












// .services-widget{
// 	//background: rgba(250, 250, 250, 0.88);
// 	display: flex;
// 	position: relative;
// 	padding-bottom: 0;
// 	margin-bottom: 0;
// 	padding: 30px;
// 	vertical-align: top;
// 	border: 1px solid rgba(37, 40, 38, 0.3);
// 	box-shadow: 5px 5px 5px rgba(37, 40, 38, 0.3);
// 	margin-bottom: 20px;
// 	@include mobile{
// 		display: block;
// 	}
// 	background-color: #F7F7F7;
// 	/*&:nth-child(even){
// 		//background: rgba(250, 250, 250, 0.88);
		
// 	}*/

// 	h2{
// 		font-family: 'Oxygen', sans-serif;
// 	}
// 	.widget-icon{
// 		float: none;
// 		margin: 0 auto;
// 		text-align: center;
// 		align-items: stretch;
// 		i{
// 			position:relative;
// 			top: calc(50% - 60px);
// 		}
// 	}
// 	.fa-size{
// 	   font-size: 130px !important;
// 		width: auto;
// 		height: auto;
// 		text-shadow: 2px 2px 0 rgba(0,0,0,0.15);
// 		background: transparent;
// 		border-style: none;
// 		color: #000;
// 	}
// }

// .ql-size-small {
//   font-size: 0.75em;
// }
// .ql-size-large {
//   font-size: 1.5em;
// }
// .ql-size-huge {
//   font-size: 2.5em;
// }


// a#back{
// 	width: 69px;
// 	display: block;
// 	color: #2A3136;
// 	font-weight: bold;
// 	text-transform: uppercase;
// 	text-indent: 16px;
// 	padding-top: 1px;
//     margin-bottom: 5px;
// }

// .body-blur{
// 		//background: #2A3136 url('../../assets/images/blurbg.jpg') no-repeat top center !important
// 		background-size: 100% !important;
// 		padding-top: 50px;
// 		h1{
// 			font-family: Raleway;
// 			color: #000;
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			text-transform: uppercase;
// 			font-weight: 700;
// 			font-size: 4.2em;
//             line-height: 1.2em;
//         }
		
// 		.ql-size-small {
// 			font-size: 0.75em;
// 		}
// 		.ql-size-large {
// 			font-size: 1.5em;
// 		}
// 		.ql-size-huge {
// 			font-size: 2.5em;
// 		}
// }

// .animated{
// 	-webkit-animation-duration: 1s;
// 	animation-duration: 1s;
// 	-webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
// }

// .imgPortada{
// 	margin: 0 auto;
// 	padding-bottom: 50px;
// 	height: 300px;
// }