<app-navbar></app-navbar>
<!-- VERSION 3 -->
<div class="container">
    <div class="col principal">
      <div><h2>{{saveTitle}}</h2></div>
      <table>
        <tr>
          <td>
            <div class="imgProd">
              <img src="{{imagen}}" class="imgProd">
            </div>            
          </td>
          <td>
            <tr >
              <div class="info">
                <td>
                  <div>
                    <h3 class="tdtprecio">Precio:</h3>
                  </div>
                </td>              
                <td>
                  <div>
                    <h2 class="tdprecio">{{formatoPesos(price)}}  </h2>
                  </div>
                </td>
              </div>
            </tr>
            <tr>
              <td >
                <div class="descrip">
                  <div>
                        <h5><b>Descripción:</b></h5>
                  </div>
                  <div [innerHTML]="htmlDescripcion">                
                  </div>
                </div>
              </td>
            </tr>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="contenedor btnVolver">
      <div class="colum">
          <button class="btn btn-info" (click)="irNoticias()">Volver</button> 
      </div>	
    </div>
<!-- VERSION 3 -->


<!-- VERSION 2 -->
<!-- 
<div class="container">
  <div class= "colum titulo">
    <h2>{{saveTitle}}</h2>
  </div>

  <div class="container">
    <table>
      <tr>
        <td>
          <div class="colum imagen">
              <img src="{{imagen}}">
          </div>
        </td>
        <td>
          <div class="col info">
              <p>informacion del producto</p> 
            </div>
        </td>
      </tr>
    </table>


  </div>

  <div class="contenedor btnVolver">
    <div class="colum">
        <button class="btn btn-info btn-sm" (click)="irNoticias(key)">Volver</button> 
    </div>	
  </div>

</div> -->


<!-- VERSION 2 -->














<!-- VERSION 1 -->

<!-- <div class="container">
  <div class="col">
    <div><h2>{{saveTitle}}</h2></div>
    <table>
      <tr>
        <td>
          <img src="{{imagen}}" alt="" class="img-responsive imgPortada">
        </td>
        <td>
          <tr class="info">
            <td><h3 class="tdprecio">Precio:</h3></td>
            <td><h2 class="tdprecio">${{price}}</h2></td>
          </tr>
          <tr>
            <td class="descrip">
              <div>
                <h5><b>Descripción:</b></h5>
              </div>
              <div [innerHTML]="htmlDescripcion">                
              </div>
            </td>
          </tr>
        </td>
      </tr>
    </table>
  </div>
</div> -->
<!--  
<div class="container">




  <div class="col">
    <div class="section-header">
      <h2>
        {{post.titulo}}
      </h2>
    </div>
    <div class="col">
      <div class="izq img">
        
      </div>



    <div>
      <tr>
        <td><p class= "info">Precio: </p></td>          
        <td><p class= "precio">{{post.precio}}</p></td>
      </tr>
    </div>

      <div class = "der descrip" [innerHtml]="htmlText"></div>
    </div>
  </div>
</div>
-->
<!--
      <div class="col-md-12">
          <div class="picture animated flipInY visible" data-animation="flipInY" data-animation-delay="500">
              <img src="{{post.url}}" alt="" class="img-responsive imgPortada">
          </div>
        <div [innerHtml]="htmlText" class="NoticiaText"></div>
      </div>
-->
      <!-- <div class="btnVolver col-md-12">
        <button class="btn btn-info btn-sm" (click)="irNoticias(key)">Volver</button> 
      </div> -->
<!--
    </div>
    
  </div>
</div>
-->

<!-- VERSION 1 -->
<app-footer></app-footer>