<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.png" class="icon"><p> </p> <p style="font-weight: bold;">La Bodega de mi Tía</p>
        </a>
    </div>
    <div id="navbar5" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Home</a></li> -->
        <!-- <li><a href="/sobre-nosotros">Sobre Nosotros</a></li> -->
        <!-- <li><a href="/informacion">Información</a></li> -->
        <li><a href="/panel" *ngIf="authService.currentUser">Panel de Control</a></li>
        <li><a class="button" (click)="logout()" *ngIf="authService.currentUser">Cerrar Sesión</a></li>
        <li><a href="/login" *ngIf="authService.currentUser == null">Iniciar Sesión</a></li> 
      </ul>
      
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>